<!DOCTYPE html>
<head>
   <meta charset="utf-8">
   <title></title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>GET Endpoint — Test</title>
</head>
<body>
   <table>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Balance</th>
        <th>Account Type</th>
        <th>Currency</th>
      </tr>
      {{#user}}
      <tr>
         <td>{{iD}}</td>
         <td>{{name}}</td>
         <td>{{balance}}</td>
         <td>{{accountType}}</td>
         <td>{{currency}}</td>
      </tr>
      {{/user}}
   </table>
</body>
</html>