<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <title>GET Endpoint — Test</title>
</head>
<body>
    {{#mapTest}}
        <h1>Hello {{accounts}}, {{user}}, {{mapTest}}.</h1>
    {{/mapTest}}

    <h1>Hello {{accounts}}</h1>
    <h1>Hello {{user}}</h1>
    <h1>Hello {{mapTest}}</h1>
  <table>
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
    </tr>
    <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
    </tr>
    <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
    </tr>
  </table>
</body>
</html>